<head>
  <style>
    #word {
      width:20%;
      float:left;	      
    }
    #transfer {
      width:80%;
      height:500px;
      float:left;
    }
  </style>
</head>

<body>
  <% if user_signed_in? %>  
    <%= link_to "登出", destroy_user_session_path, method: :delete  %>

    <%= form_tag addtag_path do %>
      <%= text_field_tag :words%>
      <%= submit_tag%>
    <% end %>

    <div id = "word">
      <table>
        <% @user.word_list.each do |word| %>
          <tr>
            <td> # </td>
            <td>
                <a href= <%= "http://dictionary.cambridge.org/zht/"\
                    + "%E8%A9%9E%E5%85%B8/"\
                    + "%E8%8B%B1%E8%AA%9E-%E6%BC%A2%E8%AA%9E-%E7%B9%81%E9%AB%94/"\
                    + word%> target="iframe_a"> 
                <%= word %> </a>
            </td>
            <td> <%= link_to("Delete", removetag_path(word), :class => "btn btn-mini", \
                :method=>:delete,:confirm=>"Areyousure?")%>
            </td> 
          </tr>
          <% end %> 
      </table>
    </div>
    <div id = "transfer">
      <iframe width="100%" height="100%" src="http://dictionary.cambridge.org/zht/" name="iframe_a">
      </iframe>
    </div>

  <% else %>
    <%= link_to "登入", new_user_session_path %>
    <%= link_to "註冊", new_user_registration_path %>
  <% end %>

</body>